{% extends "football/base.html" %}

{% block content %}
        <div class="container">
            <table class="table table-hover home-table well">
                <thead>
                    <tr>
                        <td>#</td>
                        <td class="left">Vardas</td>
                        <td>Taškai</td>
                        <td>Teisingi spėjimai</td>
                    </tr>
                </thead>
                <tbody>
                    {% for p in points %}
                    <tr>
                        <tr {% if user.id == p.user_id %}class="success"{% endif %}>
                            <td>{{ forloop.counter }}</td>
                            <td class="left"><a href="{% url 'guesses' p.user_id %}">{{ p.user.first_name|capfirst }} {{ p.user.last_name|slice:':1'|capfirst }}.</a></td>
                            <td>{{ p.points }}</td>
                            <td>{{ p.correct }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="right">Vidurkis</td>
                        <td>{{ aggregate.points__avg|floatformat }}</td>
                        <td>{{ aggregate.correct__avg|floatformat }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
{% endblock %}